section {
  max-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.test {
  display: flex;
  flex-direction: column;
}

.contato {
  color: #ebf2c7;
  margin-top: 3rem;
}

.tfooter {
  font-size: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  align-items: center;
  gap: 20rem;
}

.clista li {
  font-size: 1.8rem;
  font-weight: 300;
  border: 2px solid #ebf2c7;
  margin: 2rem;
  border-radius: 3.75rem;
  padding: 1rem 5.5rem;
}

.flinks {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 80px;
  margin-bottom: 60px;

  margin: 10rem auto;
}

.flinks a img {
  max-width: 70%;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: flex-end;
}

.direitos {
  color: #332f5b;
  background: #ebf2c7;
  text-align: center;
}

.diretos1 {
  font-size: 1rem;
}
