ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

img {
}

.curriculo {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem 5rem;
  justify-content: center;
  align-content: center;
}

.f-perfil {
  max-width: 100%;
  object-fit: cover;
}

.curriculo img {
  max-width: 40%;
}

.habilidades {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.hlista-habilidades {
  display: flex;
  align-self: flex-start;
  align-content: center;
}

.hlista-habilidades img {
  max-width: 20%;
}

.hlista {
  display: grid;
  gap: 4rem 8rem;
  grid-template-columns: auto 1fr;
}

.hlista-habilidades p {
  font-size: 2rem;
  padding-left: 2rem;
}

.cbutao {
  font-size: 2rem;
  font-weight: 300;
  background-color: #28244e;
  color: #ebf2c7;
  text-align: center;
  border-radius: 4px;
  padding: 1rem 1rem;
  margin-top: 4.5rem;
}

.cbutao a {
  color: #ebf2c7;
}

/* .cbutao::before {
  content: "";
  height: 48px;
  width: 48px;
  background: url(../img/download.svg) no-repeat;
  position: absolute;
  margin-left: -8rem;
  margin-top: 1.2rem;
} */

hr {
  border: 2px solid #ebf2c7;
  margin-top: 4rem;
}
