body {
  font-family: Teko, Fira Sans, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  background-color: #373038;
  color: #fff;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  padding: 0px;
  margin: 0px;
  background-color: #564e58;
}

header .menu {
  font-size: 32px;
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem 10rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-menu {
  text-transform: uppercase;
}

header .menu-lista {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

header .menu-modos {
  content: "";
  padding: 4px 4px;
  background-color: aqua;
}
